/*Generals*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Utilities*/
.default{
    height: 50px;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.float{
    float: left;
}

.button{
    border-radius: 10px;
    padding: 12px 20px 12px 20px;
}

.big-button{
    border-radius: 20px;
    padding: 12px 30px 12px 30px;
    height: 60px;
}

a{
    text-decoration: none;
}

p{
    line-height: 32px;
}

.mg-btt-100{
    margin-bottom: 100px;
}

.pd-bt-tp-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

main{
    width: 100%;
}

.text-align{
    text-align: center;
}

/*Background-Colors*/
.b-white{
    background-color: white;
}

.b-black{
    background-color: #000;
}

.b-gray{
    background-color: rgba(246, 246, 246, 1);
}

/*Colors*/
.white{
    color: white;
}

.black{
    color: #000;
}

/*Header Section*/

header nav{
    background-color: rgb(39, 94, 245);
}

.header-img{
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Navigation*/

nav .float{
    padding: 20px 0 15px 0;
}

.float ul{
    text-align: center;
    padding-top: 6px;
}

.float li{
    display: inline-block;
    color: white;
    margin-left: 40px;
}

.float li a{
    color: white;
    font-weight: 600;
}

aside{
    width:20%;
}

sidebar{
    width: 60%;
}

.float span a{
    display: inline-block;
    width: auto;
    width: auto;
    color: #000;
    font-size: 15px;
    vertical-align: middle;
    right: 5px;
}

/*Header info*/



.title{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.title-size p{
    font-size: 25px;
    text-align: center;
    color: white;
}

.title-size{
    width: 70%;
    margin: auto;
    position: relative;
    top: 120px;
}

.button-head{
    width: 80%;
    height: 100%;
    margin: auto;
}


.button-head span a{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    font-size: 25px;
    position: relative;
    top: 40px;
}

/*Main*/

.control{
    padding-top: 35px;
    width: 25%;
}

.control2{
    width: 55%;
    margin-left: 250px;
}

.title2{
    font-size: 45px;
    color: #000;
}

.control p{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
}

/*Photo section*/

.section5{
    position: relative;
}

.section5 h1{
    margin-bottom: 20px;
}

.section5 p{
    font-size: 20px;
    font-weight: 500;
}

.section5 img{
    display: inline;
    width: 80%;
    height: auto;
}

.download{
    background-image: url(../img/stars.svg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}



